page-estab-avaliacoes {
    .descricao {
        padding-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Número máximo de linhas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #b4b4b4;

    }


    h5 {
        span {
            padding: 0px 6px;
            font-size: 10px;
        }
    }

    ion-row.notas {
        margin-top: 10px;
        color: #484848;
        align-items: center;
        font-weight: bold;
    }

    ion-row.titulo-aval {
        align-items: center;
        justify-content: center;
    }

    img.icone-nota {
        width: 8%;
        margin: 0 4%;
    }

    .estrela {
        width: 20px;
        height: 20px;
        margin: -2px 0 1px 0%;
    }

    .estrela-estab {
        width: 25px;
        height: 25px;
        margin: 5px 0 1px 3%;
    }

    h5.nota {
        margin: 0 0 0 8px;

    }

    h5.nome {
        margin: 0;
    }

    ion-row.titulo{
        margin-top: 10px;
        h5{
            margin: 0 !important;
        }

        h5.texto-laranja{
            text-align: end;
        }
    }
}