page-cadastro-geral {
    section {
        justify-content: center;
        text-align: center;
    }

    figure {
        margin: auto;
    }

    .logo {
        width: 80%;
    }

    .icon-btn-login {
        margin-left: 27%;
        margin-right: -24%;
        width: 20px;
    }

    
}