<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button navPop class="bt-voltar">
        <img src="assets/imgs/icons/voltar.png" alt="Voltar" class="icon-bt-voltar">
      </button>
    </ion-buttons>
    <ion-title class="inicio-title">
      <img src="assets/imgs/itakitchen.svg" alt="Logo ItaKitchen" class="logo logo-menor">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <section>
    <h3 class="texto-marrom"><span class="texto-laranja">Estabelecimentos</span> melhores avaliados do mês!</h3>
  
    <h5 class="texto-marrom" *ngFor="let estab of estabs; let i = index">{{i+1}}º {{estab.nome}} - Nota: {{estab.media}}</h5>
    <canvas #barCanvasEstab></canvas>

    <h3 class="texto-marrom"><span class="texto-laranja">Usuários</span> que mais avaliaram no mês!</h3>
    
    <h5 class="texto-marrom" *ngFor="let user of usuarios; let i = index">{{i+1}}º {{user.nome}} - {{user.qtd}} avaliações</h5>
    <canvas #barCanvasUsuario></canvas>
  </section>
</ion-content>
