page-esquecer-senha {
    section {
        justify-content: center;
        text-align: center;
    }

    figure {
        margin: auto;
    }

    .logo {
        width: 80%;
    }

    .icon-btn-login {
        margin-left: 27%;
        margin-right: -24%;
        width: 20px;
    }

    .icon-bt-email {
        margin-left: 19%;
        margin-right: -16%;
    }

    .icon-bt-codigo {
        margin-left: 14%;
        margin-right: -13%;
    }

    .icon-bt-senha {
        margin-left: 18%;
        margin-right: -16%;
    }

}