page-inicio {


    .bt-inicio {
        border-radius: 40px;
        max-width: 90%;
        padding: 20px 0;
        font-size: 1em;
    }

    .bt-pesquisa {
        margin: 0;
        padding: 12px 0 0 0;
        color: #321313;
        background-color: transparent;
        font-size: 1.5em;
        margin-left: 10px;
    }

    .select-md {
        padding: 10px 8px 12px 10px;
    }

    ion-select{
        max-width: 90% !important;
    }

    ion-searchbar.barra-pesquisa, ion-item.input {
        margin-bottom: 0;
        width: 98%;
    }

    .bts-inicio {
        margin-top: 25px;
    }

    p.vazio {
        text-align: center;
        font-size: 1.5em;
    }

    .bt-inicio.filtrar {
        margin-right: 10px;
    }

    img.icon-bt-inicio {
        width: 12%;
        margin-left: 12px;
        margin-right: -3px;
    }

    .icon-bt-inicio.filtro {
        margin-left: 8px;
        margin-right: -3px;
    }

    ion-navbar {
        box-shadow: none;
    }

    .header-md::after {
        background: transparent;
    }

    .toolbar-background {
        background-color: transparent;
    }

    ion-buttons {
        width: 18% !important;
    }

    ion-title {
        margin-left: 10px;
    }

    h1 {
        font-size: 1.9em;
    }

    .icon-bt-voltar.comum {
        width: 65%;
    }

    .icon-bt-sair {
        width: 65%;
    }

    .logo {
        width: 70%;
    }

    ion-title.inicio-title {
        text-align: left;
    }

    .card-estab {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
        border-radius: 10px;
        margin: 15px 0;
    }

    .estabelecimentos {
        margin-top: 25px;
    }

    h2.nome-perfil {
        margin-top: 5px !important;
    }


    .descricao {
        padding-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Número máximo de linhas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #b4b4b4;

    }


    h5.nome {
        span {
            padding: 0px 6px;
            font-size: 10px;
        }
    }

    ion-row.notas {
        margin-top: 10px;
        color: #484848;
        align-items: center;
        font-weight: bold;
    }

    ion-row.titulo-aval {
        align-items: center;
        justify-content: center;
    }

    img.icone-nota {
        width: 8%;
        margin: 0 4%;
    }

    .estrela-aval {
        width: 20px;
        height: 20px;
        margin: -2px 0 1px 0%;
    }

    h5.nota {
        margin: 0 0 0 8px;

    }

    h5.nome {
        margin: 0;
    }


}



ion-fab {
    bottom: 70px !important;
    right: 15px !important;
}

section {
    margin: 20px 18px;
}



ion-title {
    text-align: center;
}



ion-navbar {
    box-shadow: none;
}

.header-md::after {
    background: transparent;
}

.toolbar-background {
    background-color: transparent;
}

.icon-tab {
    width: 20%;
}

.icon-tab-e {
    width: 13%;
}

.bt-tab {
    background-color: #F4991A;
    padding: 15px 0px;
}

.bt-tab.atual {
    background-color: #321313;
}

ion-footer .toolbar:last-child {
    padding: 0 !important;
}

.tool-tab {
    padding: 0;
    margin: 0;
}

.row-tabs {
    padding: 0;
    margin: 0;
    background-color: #F4991A;
}

.estrela {
    width: 25px;
    height: 25px;
    margin: 5px 0 1px 3%;
}

.img-estab {
    border-radius: 20px;
}

h5.num-avaliacao {
    font-weight: 500;
    margin: 8px 0 0 3% !important;
    color: #484848;
    font-size: 1.2em;

    span {
        padding: 0px 6px;
        font-size: 12px;
    }



}