<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button class="bt-voltar" (click)="sair();">
        <img src="assets/imgs/icons/sair.png" alt="Sair" class="icon-bt-sair">
      </button>
    </ion-buttons>
    <ion-title class="inicio-title">
      <img src="assets/imgs/itakitchen.svg" alt="Logo ItaKitchen" class="logo">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-fab right bottom (click)="novaAvaliacao();" slot="fixed" *ngIf="clienteOuEstab == 0">
  <button ion-fab class="marrom"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content padding>

  <section *ngIf="clienteOuEstab == 0">

  
    <h1 class="saudacao texto-marrom">Olá, {{usuario.nome}}!</h1>

    <ion-row class="bts-inicio">
      <button col-4 ion-button class="bt-inicio filtrar marrom">
        Filtrar
        <img src="assets/imgs/icons/filtro.png" class="icon-bt-inicio filtro" alt="Ícone de filtro.">
      </button>
      <button col-7 ion-button class="bt-inicio laranja">
        Ordernar por
        <img src="assets/imgs/icons/ordenar.png" class="icon-bt-inicio" alt="Ícone de ordenar.">
      </button>
    </ion-row>
    
    <div class="estabelecimentos">
    <ion-row *ngFor="let estab of estabelecimentos" class="card-estab" (click)="verEstab(estab.id)">
      <ion-col col-3>
        <img [src]="estab.fotourl" safe class="img-estab">
      </ion-col>
      <ion-col col-9>
        <h2 class="nome-perfil texto-marrom">{{estab.nome}}</h2>
        <ion-row>
          <img src="assets/imgs/icons/estrela.png" alt="Ícone de estrela." class="estrela">
          <h5 class="num-perfil num-avaliacao"> {{estab.nota}} <span>•</span> {{estab.numavaliacoes}} avaliações</h5>
        </ion-row>

      </ion-col>
    </ion-row>
  </div>

  <div>
    
  </div>
    <div *ngIf="estabelecimentos.length == 0 && clienteOuEstab == 0">
      <p class="texto-marrom vazio">Não há estabelecimentos cadastrados no momento.</p>
    </div>
  </section>

  <section *ngIf="clienteOuEstab == 1">
    <h1 class="saudacao texto-marrom">Bem-vindo ao perfil de {{usuario.nome}}!</h1>
    <div class="estabelecimentos">
      <ion-row *ngFor="let aval of avaliacoes" class="card-aval" (click)="verAvaliacao(aval.id);">
        <ion-row class="titulo-aval">
          <img src="assets/imgs/icons/estrela.png" alt="Ícone de estrela." class="estrela-aval">
            <h5 class="nota texto-marrom">{{aval.media.toFixed(2)}}</h5>
          <h5 class="texto-marrom nome"> <span>•</span>  {{aval.nomeestab}} </h5> 
           
        </ion-row>
        <ion-row class="notas">
          <img src="assets/imgs/icons/refeicao.png" alt="Ícone de refeição." class="icone-nota">
          {{aval.notarefeicao.toFixed(1)}}
          <img src="assets/imgs/icons/atend.png" alt="Ícone de atendimento." class="icone-nota">
          {{aval.notaatendimento.toFixed(1)}}
          <img src="assets/imgs/icons/ambiente.png" alt="Ícone de ambiente." class="icone-nota">
          {{aval.notaambiente.toFixed(1)}}
          <img src="assets/imgs/icons/preco.png" alt="Ícone de preco." class="icone-nota">
          {{aval.notapreco.toFixed(1)}}
        </ion-row>
        <ion-row class="descricao" *ngIf="aval.descrirefeicao != null">{{aval.descrirefeicao}}</ion-row>
        <ion-row class="descricao"  *ngIf="aval.descrirefeicao == null && aval.descriatendimento != null">
          {{aval.descriatendimento}}</ion-row>
        <ion-row class="descricao"  *ngIf="aval.descrirefeicao == null && aval.descriatendimento == null && aval.descriambiente != null">
          {{aval.descriambiente}}</ion-row>
        <ion-row class="descricao"  *ngIf="aval.descrirefeicao == null && aval.descriatendimento == null && aval.descriambiente == null && aval.descripreco != null" >
          {{aval.descripreco}}</ion-row>
          <ion-row class="descricao" *ngIf="aval.descrirefeicao == null && aval.descriatendimento == null && aval.descriambiente == null && aval.descripreco == null" >
            Sem descrições...</ion-row>
        
      </ion-row>
  
    </div>
    <div *ngIf="avaliacoes.length == 0">
      <p class="texto-marrom vazio">Não há avaliações para seu estabelecimento ainda.</p>
    </div>
  </section>
</ion-content>

<ion-footer *ngIf="clienteOuEstab == 0">
  <ion-toolbar class="tool-tab">
    <ion-row class="row-tabs">
      <button col-4 class="bt-tab atual">
        <img src="assets/imgs/icons/home.png" alt="ìcone do início." class="icon-tab">
      </button>
      <button col-4 class="bt-tab" (click)="minhasAvaliacoes();">
        <img src="assets/imgs/icons/avaliacao.png" alt="ìcone do início." class="icon-tab">
      </button>
      <button col-4 class="bt-tab" (click)="acessarPerfil();">
        <img src="assets/imgs/icons/usuario.png" alt="ìcone do início." class="icon-tab">
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="clienteOuEstab == 1">
  <ion-toolbar class="tool-tab">
    <ion-row class="row-tabs">
      <button col-6 class="bt-tab atual">
        <img src="assets/imgs/icons/home.png" alt="ìcone do início." class="icon-tab-e">
      </button>
      <button col-6 class="bt-tab" (click)="acessarPerfil();">
        <img src="assets/imgs/icons/usuario.png" alt="ìcone do início." class="icon-tab-e">
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>